# Import Libraries

In [10]:
import pandas as pd
import statistics

In [11]:
import requests
from io import StringIO

url = 'https://github.com/kevinnkevinn/data-analyst-portfolio/raw/main/Sales%20Force%20Training/Sales%20Force%20Training.csv'
response = requests.get(url)
data = pd.read_csv(StringIO(response.text))
data

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [12]:
data = data.drop('Id', axis=1)
data

          SalePrice
0     169277.052498
1     187758.393989
2     183583.683570
3     179317.477511
4     150730.079977
...             ...
1454  167081.220949
1455  164788.778231
1456  219222.423400
1457  184924.279659
1458  187741.866657

[1459 rows x 1 columns]

In [13]:
# count length of data
length = len(data)
print("Length of data:", length)

Length of data: 1459

In [16]:
# Central Tendency
mean = round(data['SalePrice'].mean(), 2)
median = round(data['SalePrice'].median(), 2)
mode = round(statistics.mode(data['SalePrice']), 2)

In [17]:
#Tulis analisismu dari Central Tendency di sini
print("The average value (mean) in the Transaction Amount column is", mean)
print("The median value in the Transaction Amount column is", median)
print("The most frequent value (mode) in the Transaction Amount column", mode)

The average value (mean) in the Transaction Amount column is 179183.92
The median value in the Transaction Amount column is 179208.67
The most frequent value (mode) in the Transaction Amount column 174388.87

In [19]:
import numpy as np

# Variability
variance = round(np.var(data), 2)
standard_deviation = round(np.std(data), 2)
maximum = round(np.max(data), 2)
minimum = round(np.min(data), 2)
quartile_1 = round(np.quantile(data, 0.25), 2)
quartile_2 = round(np.quantile(data, 0.5), 2)
quartile_3 = round(np.quantile(data, 0.75), 2)

In [20]:
# Analysis of Variability
print("The variance of Transaction Amount is", variance)
print("The standard deviation of Transaction Amount is {:.3f}".format(float(standard_deviation)))
print("The maximum value of Transaction Amount is", maximum)
print("The minimum value of Transaction Amount is", minimum)
print("The first quartile (Q1) of Transaction Amount is", quartile_1)
print("The second quartile (median) of Transaction Amount is", quartile_2)
print("The third quartile (Q3) of Transaction Amount is", quartile_3)

The variance of Transaction Amount is SalePrice    2.726673e+08
dtype: float64
The standard deviation of Transaction Amount is 16512.640
The maximum value of Transaction Amount is 281643.98
The minimum value of Transaction Amount is 135751.32
The first quartile (Q1) of Transaction Amount is 168703.01
The second quartile (median) of Transaction Amount is 179208.67
The third quartile (Q3) of Transaction Amount is 186789.41

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24432\3844289001.py:3: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  print("The standard deviation of Transaction Amount is {:.3f}".format(float(standard_deviation)))

Define H0 and H1

H0: The average of the 25 customer transactions amount = 100

H1: The average of the 25 customer transactions amount more than 100

Define alpha = 0.05

In [22]:
from scipy import stats

# Perform one-sample t-test
t_statistic, p_value = stats.ttest_1samp(a=data['SalePrice'], popmean=100)

# Round the result to three decimal places
t_statistic = round(t_statistic, 3)
p_value = round(p_value, 3)

# Print the t-statistic and p-value
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 414.113
p-value: 0.0

Conclude with alpha and p-value

Since the P-value is lower than alpha (0.05), we reject H0.

Conclusion: Sales force training is effective, on average out of 25 customers the number of transactions is 100

In [23]:
# Calculate the t-value for a one-tailed test
t_value = stats.t.ppf(1 - 0.05, 24)

# Round the result to three decimal places
t_value = round(t_value, 3)

# Print the t-value
print("t-value:", t_value)

t-value: 1.711

Critical region result: t < 1.73

Since the t-statistic is not in the critical region, we fail to reject H0

Conclusion: Sales force training is effective, on average out of 25 customers the number is more than 100